
<tr>
    <td><%= task.task_name %></td>
    <td><%= task.task_comment %></td>
    <td><%= task.expiry_date %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td><%= task.label %></td>
    <td><%= task.created_at %></td>
    <td><%= link_to "詳細", task %></td>
  </tr>
</div>